<table>
    <tr>
        <td>
            <p>Jose Manuel Gutierrez Carrion</p>
            <p>Ser programador Senior y AWS Certified Developer </p>
        </td>
        <td>
            <img src="../../assets/images/foto.jpeg" width="100" height="100" alt="foto">
        </td>

        <td>
            <ul>
                <li>joselito&#64;live.com.mx</li>
                <li>2711002312</li>
                <li>Cordoba, Veracruz</li>
                <li>&#64;Joselito</li>
            </ul>
        </td>
    </tr>
    
</table>
